.marquee {
  width: 100%;
  height: 50px;

  overflow: hidden;

  background: linear-gradient(
    90deg,
    #8f00ff,
    #c000ff,
    #8f00ff
  );

  display: flex;
  align-items: center;

  position: relative;
  z-index: 10;
}

.marqueeTrack {
  display: flex;
  width: max-content;

  animation: marqueeMove 25s linear infinite;
}

.marqueeTrack span {
  flex-shrink: 0;

  color: #ffffff;

  font-family: "Montserrat", sans-serif;

  font-size: 14px;
  font-weight: 800;

  letter-spacing: 1.3px;

  white-space: nowrap;
}

@keyframes marqueeMove {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.marquee:hover .marqueeTrack {
  animation-play-state: paused;
}

@media (max-width: 700px) {
  .marquee {
    height: 42px;
  }

  .marqueeTrack span {
    font-size: 10px;
  }
}